body{
    background: #999999;
    margin: 0;
    padding: 0;
}

#imagelist{
    font-size: 0;
    margin-top: 400px;
    margin-left: auto;
    margin-right: auto;
    width: 1050px;
}

.search-box{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2f3640;
    height: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
}



.search-btn{
    color: #2f3640;
    float: right;
    height: 40px;
    width: 40px; 
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background:  #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-text{
    width: 350px;
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    margin-left: 25px;
}

#imagelist img{
    margin: 10px;
    border: 15px solid transparent;
    display:inline-block;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    opacity: 0.5;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

#imagelist img:hover{
    border-color: #008080;
    opacity: 1;

}

#imagelist img{
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

#dialogoverlay{
	display: none;
	opacity: .8;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #FFF;
	width: 100%;
	z-index: 10;
}
#dialogbox{
	display: none;
	position: fixed;
	background: #000;
	border-radius:7px; 
	width:550px;
	z-index: 10;
}
#dialogbox > div{ background:#FFF; margin:8px; }
#dialogbox > div > #dialogboxhead{ 
    background: #666; 
    font-size:19px; 
    padding:10px; 
    color:#CCC; }
#dialogbox > div > #dialogboxbody{ 
    background:#333; 
    padding:20px; 
    color:#FFF; }
#dialogbox > div > #dialogboxfoot{ 
    background: #666; 
    padding:10px; 
    text-align:right; }

